body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

footer a {
  /* color: #6c757d; Bootstrap's muted color */
  margin-bottom: 0.5rem;
  display: inline-block; /* Needed for margin-bottom to work on links */
  text-decoration: none;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
  justify-content: space-between;
}

#supportHero a{
  color: white;
  margin-right: 20px;
  line-height: 2em;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  padding: 100px 0 0 0;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}